DASHSCOPE_WORKSPACE_ID=ws-03nuiiejxtegm2jv
DASHSCOPE_API_HOST=https://ws-03nuiiejxtegm2jv.cn-beijing.maas.aliyuncs.com
DASHSCOPE_API_KEY=
DASHSCOPE_TTS_MODEL=cosyvoice-v3.5-plus
DASHSCOPE_LI_BAI_VOICE_ID=cosyvoice-v3.5-plus-vd-lb22-6c41f11b65094b859a85b884363ab628
